<!DOCTYPE HTML>
<html>
<head>

<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
</style>


<script>

window.onload = function () {


var updateInterval = 1000;

var devuelveDatos = function(datosPedidos){
	var datosRecibidos={};
	jQuery.ajax({
		type: 'POST',
		async: false,
		url: "/devuelveDatos",
		data: {datos : datosPedidos},
		success: function(datos){datosRecibidos=datos;}
	});
	
	return datosRecibidos 
}


var configT ={
	type: 'line',
	data: {
		labels:['-14','-13','-12','-11','-10','-9','-8', '-7', '-6', '-2', '-1', '0'],
		datasets: [
			{
				label: 'Temperatura',
				backgroundColor: window.chartColors.red,
				borderColor: window.chartColors.red,
				data:[20,20,20,20,20,20,20,20,20,20,20,20,20,20,20],
				fill: false
			}
		]
	},
	options:{

		//tooltips: {
		//	mode: 'index',
		//	intersect: false,
		//},
		//hover: {
		//	mode: 'nearest',
		//	intersect: true
		//},
		scales: {
			xAxes: [{
				display: true,
				scaleLabel: {
					display: true,
					labelString: 'Tiempo (s)'
				}
			}],
			yAxes: [{
				display: true,
				scaleLabel: {
					display: true,
					labelString: 'Temperatura (°C)'
				}
			}]
		}


	}
}
var configH ={
	type: 'line',
	data: {
		labels:['-14','-13','-12','-11','-10','-9','-8', '-7', '-6', '-2', '-1', '0'],
		datasets: [
			{
				label: 'Humedad',
				backgroundColor: window.chartColors.green,
				borderColor: window.chartColors.green,
				data:[20,20,20,20,20,20,20,20,20,20,20,20,20,20,20],
				fill: false
			}
		]
	}
}

var configP ={
	type: 'line',
	data: {
		labels:['-14','-13','-12','-11','-10','-9','-8', '-7', '-6', '-2', '-1', '0'],
		datasets: [
			{
				label: 'Presion',
				backgroundColor: window.chartColors.blue,
				borderColor: window.chartColors.blue,
				data:[20,20,20,20,20,20,20,20,20,20,20,20,20,20,20],
				fill: false
			}
		]
	}
}

var ctxT = document.getElementById('canvasT').getContext('2d');
var ctxH = document.getElementById('canvasH').getContext('2d');
var ctxP = document.getElementById('canvasP').getContext('2d');
window.myLineT = new Chart(ctxT, configT);
window.myLineH = new Chart(ctxH, configH);
window.myLineP = new Chart(ctxP, configP);


var updateChart = function () {


	var datosRecibidos=devuelveDatos(["sensorTemp", "sensorHum", "sensorPres"])
	console.log(datosRecibidos);
	yVal_temp=datosRecibidos.sensorTemp.valor;
	yVal_hum=datosRecibidos.sensorHum.valor;
	yVal_pres=datosRecibidos.sensorPres.valor;


	configT.data.datasets[0].data.push( yVal_temp);
	configT.data.datasets[0].data.shift();

	configH.data.datasets[0].data.push( yVal_hum);
	configH.data.datasets[0].data.shift();

	configP.data.datasets[0].data.push( yVal_pres);
	configP.data.datasets[0].data.shift();

	window.myLineT.update();
	window.myLineH.update();
	window.myLineP.update();

	//$("temperatura").innerHTML=yVal_temp;
	document.getElementById("temperaturaValor").innerHTML=yVal_temp;
	document.getElementById("humedadValor").innerHTML=yVal_hum;
	document.getElementById("presionValor").innerHTML=yVal_pres;
};

setInterval(function(){updateChart()}, updateInterval);

}
</script>
</head>

<body>
	<div style="width:75%;">
		<table align="center">
		  <tr>
		    <td><img  src="{{url_for('static', filename='termometro.png')}}" width="42"></td>
		    <td>Temperatura=</td>
		    <td><div id="temperaturaValor">No se ha recibido temperatura</div></td>
		    <td>°C</td>
		  </tr>
		</table>
		<canvas id="canvasT"></canvas>
		<br>
		<br>

		<table align="center">
		  <tr>
		    <td><img  src="{{url_for('static', filename='humedad.png')}}" width="42"></td>
		    <td>Humedad =</td>
		    <td><div id="humedadValor">No se ha recibido humedad</div></td>
		    <td>%</td>
		  </tr>
		</table>
		<canvas id="canvasH"></canvas>
		<br>
		<br>

		<table align="center">
		  <tr>
		    <td><img  src="{{url_for('static', filename='presion.png')}}" width="42"></td>
		    <td>Presion=</td>
		    <td><div id="presionValor">No se ha recibido presion</div></td>
		    <td>hPa</td>
		  </tr>
		</table>
		<canvas id="canvasP"></canvas>

		<br>
		<br>
		<table align="center">
		  <tr>
		    <td>
		<a href="/sql-viewer">
		<img  src="{{url_for('static', filename='database.png')}}" width="62" >
		</a>
		    </td>
		    <td>
			    Datos previos
		    </td>
		  </tr>
		</table>
	</div>
<script src="{{url_for('static', filename='chart.js@2.9.3')}}"></script>
<script src="{{url_for('static', filename='utils.js')}}"></script>
<script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
</body>
</html>
